/*

    Based on:
     - https://github.com/acrylic-os/core/blob/main/core/common.css
     - https://github.com/acrylic-os/core/blob/main/extensions/default/styles.css
    
    Acrylic is (c) Anpang 2024 - 2026
    https://github.com/acrylic-os/core

*/


/* VARIABLES */

:root{

    /* colors */
    --caro-background:           #111;
    --caro-background-highlight: #000;
    --caro-text:                 #eee;
    --caro-text-highlight:       #fff;
    --caro-link:                 #c4edff;
    --caro-link-hover:           #e3f7ff;

    /* default fonts */
    --caro-font-main:      "Inter", sans-serif;
    --caro-font-heading:   "Schibsted Grotesk", sans-serif;
    --caro-font-monospace: "Roboto Mono", monospace;

}


/* BODY/LAYOUT */

body{
    margin: 0;
    background-color: var(--caro-background);
    color: var(--caro-text);
    font-family: var(--caro-font-main);
    user-select: none;
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1);
}
.screen{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}


/* ELEMENTS */


/* actual elements */

/* sections */
.section, section{ margin-bottom: 1em; }
.centered{ text-align: center; }
.center-box{
    text-align: center;
    display: grid;
    padding: 1em;
    gap: 1em;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* headings */
h1, h2, h3, h4, h5, h6{ font-family: var(--caro-font-heading); }

/* links */
a{
    color: var(--caro-link);
    text-decoration: none;
}
a:hover{ color: var(--caro-link-hover); }
a:active{
    display: inline-block;
    animation: 0.25s button-press;
}

/* horizontal lines */
hr{
    margin: 2em 0;
    border: 0.1em solid rgba(255, 255, 255, 0.25);
    border-radius: 1em;
}

/* <label> tags (invisible) */
label{ display: none; }

/* fieldsets */
fieldset{
    border-radius: 0.75em;
    border: 2px solid rgba(255, 255, 255, 0.25);
    padding: 0.75em 1em;
    margin-bottom: 0.5em;
}
fieldset > legend{ padding: 0 0.75em; }

/* tables */
table{
    border-spacing: 0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0.25em 0.5em;
}
td{ background-color: rgba(255, 255, 255, 0.025); }
th{ background-color: rgba(255, 255, 255, 0.05); }


/* text formatting */

/* code */
code, pre{
    font-size: 0.9em;
    font-family: var(--caro-font-monospace);
}

/* subtitles */
.subtitle{
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    margin-top: 0.5em;
}


/* buttons/inputs */

/* common rectangle design */
button, select, .textbox, input[type=text], input[type=datetime-local], input[type=date], input[type=time], input[type=file]{
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.25);
    margin: 2px;
    font-family: var(--caro-font-main);
    padding: 0.25em 1em;
}
button:hover, select:hover, .textbox:hover, input[type=text]:hover, input[type=datetime-local]:hover, input[type=date]:hover, input[type=time]:hover, input[type=file]:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
button:active, select:active, .textbox:active, input[type=text]:active, input[type=datetime-local]:active, input[type=date]:active, input[type=time]:active, input[type=file]:active{
    animation: 0.15s button-press;
}
@keyframes button-press{
    0%{ transform: none; }
    50%{ transform: scale(0.95); }
    100%{ transform: none; }
}

/* textbox placeholders */
input[type=text]::placeholder{ color: rgba(255, 255, 255, 0.5); }

/* checkboxes, radio buttons, and sliders */
input[type=checkbox], input[type=radio], input[type=range]{
    cursor: pointer;
    filter: hue-rotate(330deg) opacity(0.9);
    margin: 0.5em 0.5em 0.5em 1em;
}
input[type=checkbox], input[type=radio]{ transform: scale(1.5) translateY(1px); }
input[type=checkbox]:hover, input[type=radio]:hover{
    transform: scale(1.6) translateY(1px);
    transition-duration: 0.1s;
}
input[type=range]{ transform: scale(1.1); }
input[type=range]:hover{
    transform: scale(1.15);
    transition-duration: 0.1s;
}

/* color selectors */
input[type=color] {
    width: 2.25em;
    height: 2.25em;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1px 2px;
    border-radius: 0.5em;
}

/* classes */
button.bflat, input.bflat{ padding: 0.25em 1em; }
button.bfull, input.bfull{ padding: 0.5em 1em; }
.disabled{
    pointer-events: none;
    cursor: not-allowed;
    filter: opacity(0.9);
}

/* button groups */
.button-group{ margin: 2px; }
.button-group > button{ margin: 0; }

.button-group.horizontal{
    white-space: nowrap;
    display: flex;    /* else there'll be spaces between the buttons */
}
.button-group.horizontal > button:first-child:not(:only-child){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.button-group.horizontal > button:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
    border-right: none;
}
.button-group.horizontal > button:last-child:not(:only-child){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group.vertical > button{ width: 100%; }
.button-group.vertical > button:first-child:not(:only-child){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}
.button-group.vertical > button:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0;
    border-bottom: none;
}
.button-group.vertical > button:last-child:not(:only-child){
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* BOXES */


/* windows */

#windows {
    display: block;
    pointer-events: none;
}
.window{
    position: absolute;
    resize: both;
    overflow: hidden;
    display: none;
    flex-flow: column;
    pointer-events: auto;
    z-index: 20;
    backdrop-filter: blur(1px);
}

.animations .window-animation-open{ animation: 0.25s window-open; }
.animations .window-animation-close{ animation: 0.25s window-close; }
@keyframes window-open{
    from{
        transform: scale(0.75);
        filter: opacity(0);
    }
    to{
        transform: none;
        filter: none;
    }
}
@keyframes window-close{
    from{
        transform: none;
        filter: none;
    }
    to{
        transform: scale(0.75);
        filter: opacity(0);
    }
}

.titlebar{
    cursor: move;
    flex: 0 1 auto;
    border-radius: 0.75em 0.75em 0 0;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.35em 1.5em 0.15em 1em;
}
.titlebar-icon{
    width: 1.5em;
    float: left;
    margin: 0.1em 0.5em 0 0;
}
.titlebar-text{
    margin-top: 0.25em;
    display: block;
    float: left;
}
.titlebar-buttons{
    float: right;
    margin-left: 1em;
}
.titlebar-buttons > a{
    width: 1.65em;
    height: 1.65em;
    background-size: 1.65em;
    display: inline-block;
    filter: opacity(0.85);
}
.titlebar-buttons > a:hover{ filter: opacity(1); }
.titlebar-button-minimize{ background-image: url("../icons/svg/button-minimize.svg"); }
.titlebar-button-toggle{ background-image: url("../icons/svg/button-maximize.svg"); }
.titlebar-button-close{ background-image: url("../icons/svg/button-close.svg"); }

.window-content{
    flex: 1 1 auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 1.5em;
    border-radius: 0 0 0.75em 0.75em;
}

.maximized{
    top: 2em;
    left: 0;
    width: 100vw;
    height: calc(100vh - 2em);
    transition-duration: 0.25s;
}
.maximized > .titlebar{ border-radius: 0; }
.maximized > .window-content{ border-radius: 0; }
.unmaximized{ transition-duration: 0.25s; }

.selected{ z-index: 30; }
.window:not(.selected) { filter: opacity(0.75); }

.error-pre{ white-space: pre-wrap; }


/* popups */

.popup-grid{
    display: grid;
    grid-template-columns: max(5em, 20%) auto;
    grid-template-rows: auto 3em;
    text-align: center;
    height: 100%;
}
.popup-grid-icon, .popup-grid-content{ position: relative; }
.popup-icon, .popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup-icon{ width: 4em; }
.popup-content{ width: 100%; }
.popup-grid-buttons{ grid-column: 1 / 3; }


/* CONTEXT MENU */

#contextmenu{
    display: none;
    position: fixed;
    z-index: 220;
    width: min-content;
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    padding: 0.5em 0;
    border-radius: 0.5em;
}

#contextmenu > button{
    margin: 0;
    width: 100%;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-radius: 0;
}
#contextmenu > button + button{ border-top: none; }
#contextmenu > button:hover{ background-color: rgba(255, 255, 255, 0.1); }

#contextmenu > hr{
    border: none;
    margin: 0.25em 0;
    border-radius: 0;
}

#contextmenu > div{
    white-space: nowrap;
    margin-right: 0.75em;
}

#contextmenu input[type=checkbox] {
    outline: none;
    transform: scale(1.25);
}

